
body {
      display: flex;
      align-items: center;
      justify-content: center;
}

.board {
      display: flex;
}

.tile {
      
      border: 1px solid black;
      width: 5px;
      height: 5px;
      font-size: 12px;
      font-weight: bold;
      padding: 5px 5px;

      /* Alignment of Items  */
      display: flex;
      justify-content: center;
      align-items: center;
}

.tile-flagged {
      background: yellow;
}

.tile-bomb {
      background: red;
}

.tile-explored {
      background: grey;
      border-style: outset;
}

.tile-unexplored {
      background: rgb(230, 224, 224);
      border-style: inset;
}

.tile-unexplored:hover {
      background: grey;
}

.minesweeper {
      display: flex;
      align-items: center;
      justify-content: center;
}

.title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 0px;
      margin: 0px 0px;
      font-size: 28px;
}

html { 
      background: rgb(237, 254, 224);
}

.status {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px 0px;
      font-size: 16px;
}
.restart {
      display: flex;
      justify-content: center;
      align-items: center;
}

.num-0 {
      background: rgb(202, 202, 202);
      color: rgb(202, 202, 202);
}

.num-1 {
      background: rgb(201, 166, 166);
}

.num-2 {
      background: rgb(193, 135, 135);

}

.num-3 {
      background: rgb(203, 100, 100);

}

.num-4 {
      background: rgb(197, 62, 62);

}

.num-5{
      background: rgb(139, 28, 28);

}

.num-6 {
      background: rgb(93, 10, 10);

}

.num-7 {
      background: rgb(45, 2, 2);

}

.num-8 {
      background: rgb(0, 0, 0);
      color: white;
}

